*{
	margin:0px;
	box-sizing: content-box;
	
}

@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
.container{
	
	margin: auto;
	max-width: 2180px;
	

	
}
.container1{
	margin: auto;
	max-width: 2180px;
	

	
	
}
.top-menu{
	
	
	cursor: default;
	text-align: right;
	margin-right: 5%;
	padding-top: 30px;
	font-family: 'Caveat', cursive;
    font-family: 'Poiret One', cursive;
	font-size: 30px;
	list-style-type: none;
	
	
	

}
.t-m-li-1{
	position: relative;
	
	top: -5px;


}
.header{
	
	height:140px;
	border-bottom: 1.2px solid rgba(0,0,0,0.2);
	margin-bottom:  4px;
	margin-bottom:40px;
}
.side-box{
	min-width: 250px;
	max-width: 300px;
	min-height: 1000px;
	max-height: 100%;
	
	
	float: left;
	padding-top: 20px;

}
.side-menu{
	padding-top: 10px;
	cursor: default;
	position: fixed;
	list-style-type: none;
	font-family: 'Caveat', cursive;
font-family: 'Poiret One', cursive;
font-size: 20px;



	
}

.side-menu a{
	text-decoration: none;
	color:black;
	cursor: default;
}

.side-menu li:hover{
	color:#696969;
	

}


.side-menu li{
	margin-top: 10px;
}

.Liliya{
	
	float: left;
	margin-right:10px;
}


#lily{
	
	
	
	

}

.info_obomne{
	padding-left: 40px;
	position: relative;
	margin-right: 10px;
    font-family: 'Caveat', cursive;
    font-family: 'Poiret One', cursive;
	font-size: 25px;
	padding-top: 10px;
	display: flex;

}




.contant{
	padding-top: 20px;
	max-width: 100%;
	min-height: 1000px;
	max-height: 100%;
	
	display: flex;
	
	flex-wrap: wrap;

}

.contant_obomne{
	padding-top: 60px;
	max-width: 100%;
	min-height: 1000px;
	max-height: 100%;
	
	

}
.img270x180{
	width:270px;
	
}
.contant img{
	max-width: 100%;
	height: auto;
	border: 2px solid white;
}





.side-box2{
position: absolute;
bottom: 5000px;
}
.side-menu2{
	padding-top: 10px;
	cursor: default;

	list-style-type: none;
	font-family: 'Caveat', cursive;
	font-family: 'Poiret One', cursive;
font-size: 20px;



	
}


.side-menu2 a{
	text-decoration: none;
	color:black;
	cursor: default;
}

.side-menu2 li:hover{
	color:#696969;
	

}


.side-menu2 li{
	
	margin-top: 10px;
	display: inline;
	margin-right: 10px;
}

.info_price{
	font-size: 30px;
	font-family: 'Caveat', cursive;
	font-family: 'Poiret One', cursive;
}


.footer{
	position: relative;
	
	margin-top:40px;
	width:100%;
	background-color: #d9d9d9;
	height: 200px;
font-family: 'Caveat', cursive;
	font-family: 'Poiret One', cursive;

}



.fab {
	position: relative;
	float: right;
	top: 100px;
	right: -65px;
	margin-right:5px;

	
}
.footer a{
	text-decoration: none;
	color: black;
}


.footer p{
	display: block;
	position: relative;
	top: 50px;
	right: 10px;
	float: right;
	font-size: 25px;
	line-height: 30px;

}

.gellery{
	width: 100%;
	

}

.gellery img{
	max-width: 45%;
	height: auto;
	}

#i2{
	max-width: 60%;
	height: auto; 
}
@media screen  and (max-width: 1100px){

/*.side-box{
	position: relative;
	top: -50px;
	margin-right: 50%;

}*/
.side-menu li{
	display: none;
	margin-right: 10px;

	
	
}

.top-menu{
	margin-right: 50%;
	
}

.contant{
	
	position: relative;
	top: 90px;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;

}


.side-box{
	min-width: 0px;
	max-width: 300px;
	min-height: 1000px;
	max-height: 100%;
	
	
	float: left;
	padding-top: 20px;

}


.side-box2{
position: absolute;
top: 80px;
}
.side-menu2{
	padding-top: 90px;
	font-size: 20px;
	font-size: 30px;
}


.top-menu{
	cursor: default;
	text-align: right;
	margin-right: 25%;
	position: relative;
	top: 30px;
	font-family: 'Caveat', cursive;
    font-family: 'Poiret One', cursive;
	font-size: 25px;
	list-style-type: none;
	
	
	

}

.info_obomne{
	
	font-size: 30px;
}

}

.clear{
	margin-bottom: 150px;
	clear:both;
}

